@import "tailwindcss";

@theme {
  --color-brand: #00aaff;
}

@layer base {
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: sans-serif;
  }
}
